@import '@/styles/_variables';
@import '@/styles/_mixin';

.healthiness {
  &-head {
    h3 {
      color: $c-orange-base;
    }
  }
  &-content-lg {
    position: relative;
    @include flexbox;
  }
  &-img-lg {
    max-height: 480px;
    -webkit-mask: linear-gradient(to top left, transparent, black);
    mask-image: linear-gradient(to top left, transparent, black);
    @include border-radius-left(4px);

  }
  &-title-lg {
    position: absolute;
    right: 0;
    bottom: 0;
    min-width: 40%;
    padding: $gutter-lg;
    font-size: $gutter-xl;
    line-height: 36px;
    a {
      text-decoration: none;
      color: $c-black-base;
      &:hover {
        color: $c-orange-base;
      }
    }
  }
  &-title-sm {
    font-size: $text-md;
    line-height: 20px;
    margin-bottom: $gutter-sm;
    a {
      text-decoration: none;
      color: $c-black-base;
      &:hover {
        color: $c-orange-base;
      }
    }
  }
  &-img-sm {
    @include border-radius-left(4px);
  }
}