@import '@/styles/_variables';
@import '@/styles/_mixin';

.breadcrumbs {
  background-color: $c-grey-lighten-1;
  ul {
    list-style: none;
    padding-left: 0;
    font-size: $text-sm;
    @include flexbox;
    @include align-items(center);

    li {
      color: $c-grey-base;
      a {
        text-decoration: none;
        color: $c-orange-base;
        &:hover {
          text-decoration: underline;
        }
      }
      .current {
        max-width: 350px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}